@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: #755AE2;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply font-normal
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* buttons */
.nav-btn  {
  @apply rounded-lg p-1 px-2 lg:py-[0.38rem] lg:px-6 mx-1
}

.hero-btn, .btn {
  @apply rounded-lg px-2 lg:py-[0.4rem] lg:px-5 mx-1
}

.font-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}
.scrolled {
  @apply fixed w-full shadow-sm top-0 glass
}

/* Search */
.search-switch {
  @apply  w-full md:w-fit md:px-1.5 py-1 rounded-lg flex justify-around bg-content-gray gap-x-1 
}
.switch-toggle{
  @apply px-9 py-2 md:px-7 md:py-1 rounded-md w-1/2 mx-2 md:w-auto  text-content-1
}

.search-parameters {
  @apply shadow-zinc-600 drop-shadow-sm hidden mt-6 py-2 border md:flex flex-shrink overflow-hidden scroll-m-20 place-items-center max-w-fit bg-white rounded-full     
}
/* select */
.select {
  @apply bg-transparent rounded-lg border-0 outline-none text-[0.9rem] font-extralight text-content-input-text px-3
}
.select-head {
  @apply text-content-1 font-semibold px-4
}
/* section */
.section {
  @apply px-8 sm:px-14 md:px-20 lg:px-[7.5rem] xl:px-[8.5rem]
}
.unactive {
  @apply text-[#474747]
}

/* download */
.download {
  @apply px-6 md:px-6 mx-2 white-30 h-fit text-center py-6 rounded-full md:rounded-lg
}

/* drop shadow */
.dropShadow {
  box-shadow: 1rem;
}

/* text opacity */
.text-opac-dark {
  @apply text-neutral-800 text-opacity-80;
}

.text-opac-light {
  @apply text-neutral-100 text-opacity-90;
}

/* glassmorphism */
.glass {
  @apply bg-white rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 z-[1000] border-0;
}

.white-30 {
  @apply bg-neutral-700 sm:bg-white sm:bg-opacity-25 bg-opacity-40 ;
}



/* hero */
.heroText {
  @apply font-medium text-3xl sm:text-3xl md:text-5xl lg:text-6xl text-left mb-7 text-[#080F2B]
}

.heroSubText {
  @apply text-[#080F2B] text-sm text-opacity-70
}

.bg-primary-1 {
  @apply text-white
}
/* default */

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  @apply bg-white
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  @apply  text-[#08080c]
}

:root {
  @apply text-[#08080c]
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}